*.log
.idea
.DS_Store
cache
.git
server/log
client/log
server/service-cloud-monitoring-server
server/service-cloud-monitoring-server.exe
client/service-cloud-monitoring-client
client/service-cloud-monitoring-client.exe
server/web/node_modules